:root {
  --color-main: rgba(0, 0, 0, 1);
  --color-bg: #ffffff;
  --color-white: #ffffff;
  --grid: 10px;
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom); /* THIS ONE GETS US THE HOME BAR HEIGHT */
  --sal: env(safe-area-inset-left);
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--color-main);
  font-weight: 300;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 16px;
  background-color: var(--color-bg);

  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

.scroll-disabled {
  overflow: hidden;
}

a {
  color: var(--color-main);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
}

p {
  margin-top: 0;
}

a:hover,
a:active,
a:focus {
  outline: 0;
}

.isDragging {
  cursor: grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: -webkit-grabbing !important;
}
