@import "./variables";
@import "./mixins";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: visibility $base-transition-style 0.1s,
    opacity $base-transition-style 0.1s;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
  }

  .close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: $grid-mobile;
    right: $grid-mobile;
    cursor: pointer;
  }

  .body {
    border: 1px solid $color-black;
    background-color: $color-white;
    padding: $grid-mobile;
    position: relative;
    z-index: 2;
    margin: 70px $grid;

    @include respond-to(medium) {
      max-width: 380px;
      padding: $grid * 2;
      margin-left: auto;
      margin-right: $grid-desktop;
    }
  }
}

.contacts {
  .item {
    margin-bottom: calc($grid-mobile / 2);

    @include respond-to(medium) {
      margin-bottom: calc($grid-mobile * 1.5);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .link {
    font-weight: 500;
    display: inline-block;

    @include respond-to(medium) {
      font-size: 20px;
    }
  }
}
