@import "./variables";
@import "./mixins";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: visibility $base-transition-style 0.1s,
    opacity $base-transition-style 0.1s;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
  }

  .close {
    position: sticky;
    top: 0;
    width: 32px;
    height: 32px;
    margin-left: auto;
    cursor: pointer;
  }

  .body {
    position: fixed;
    top: $grid * 1.5;
    right: $grid;
    bottom: $grid * 1.5;
    left: $grid;
    margin: 0 auto;
    padding: $grid-mobile;
    overflow: scroll;
    background-color: $color-white;
    border: 1px solid $color-black;

    @include respond-to(medium) {
      max-width: 890px;
      padding: calc($grid / 1.5);
    }

    &.contacts {
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      z-index: 2;
      margin: 70px $grid;

      @include respond-to(medium) {
        max-width: 380px;
        margin-right: $grid-desktop;
        margin-left: auto;
      }
    }
  }
}

.contacts {
  .item {
    margin-bottom: calc($grid-mobile / 2);

    @include respond-to(medium) {
      margin-bottom: calc($grid-mobile);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .link {
    display: inline-block;
  }
}
