@import "./variables.scss";
@import "./mixins.scss";

.container {
  padding: 70px $grid;

  @include respond-to(medium) {
    padding: 100px $grid-desktop;
  }

  .wrapper {
    max-width: 470px;
    margin: 0 auto;
  }

  .slider {
    width: 100%;
    cursor: move;
    cursor: grab;
    overflow: hidden;
  }

  .slider-container {
    position: relative;

    @include respond-to(medium) {
      margin-bottom: 60px;
    }
  }

  .slider-wrapper {
    display: flex;
  }

  .slide {
    position: relative;
    flex: 0 0 100%;
  }

  .slide-wrapper,
  .single-wrapper,
  .video-wrapper {
    height: 50vh;
  }

  .video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .arrows {
    display: flex;
    justify-content: center;
    margin: $grid * 2;

    @include respond-to(medium) {
      margin: 0;
    }
  }

  .arrow {
    margin-right: 40px;
    cursor: pointer;

    @include respond-to(medium) {
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -80px;
    }

    &.right {
      margin-right: 0;
      margin-left: 40px;

      @include respond-to(medium) {
        left: auto;
        right: -80px;
      }
    }
  }

  .image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
