@import "./variables.scss";
@import "./mixins.scss";

.container {
  @include respond-to(medium) {
    padding: 0 calc($grid / 2);
  }

  .link {
    @include respond-to(medium) {
      display: flex;
    }
  }

  .cell {
    @include respond-to(medium) {
      width: 25%;
      padding: 0 calc($grid / 2);
    }

    &:nth-child(1) {
      @include respond-to(medium) {
        width: 12.5%;
      }
    }

    &:nth-child(2) {
      @include respond-to(medium) {
        width: 12.5%;
      }
    }
  }

  .body {
    height: 100%;

    @include respond-to(medium) {
      border-top: 1px solid $color-black;
      padding: $grid 0;
    }
  }

  .image-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;

    &.center {
      justify-content: center;
    }

    &.bottom {
      justify-content: flex-end;
    }
  }
}
