$color-white: #ffffff;
$color-black: #000000;
$color-gray: #a6a6a6;

// grid
$grid: 20px;
$grid-mobile: 10px;
$grid-desktop: 2.8vw;

// border-width
$border-width-mobile: 1px;
$border-width-desktop: 1.5px;

// sizes
$sizeXXL: 1760px;
$sizeXL: 1180px;
$sizeL: 1024px;
$sizeM: 808px;
$sizeS: 320px;

$sizeContentMax: 1920px;
$sizeMax: $sizeXXL;

$row-width-s: 90%;
$row-width-m: 740px;
$row-width-l: 964px;
$row-width-xl: 1180px;
$row-width-xxl: 1332px;

$base-transition-style: cubic-bezier(0.66, 0, 0.07, 1);
