@import "./variables.scss";
@import "./mixins.scss";

.container {
  margin-top: -1px;

  .header {
    position: relative;
    padding: 0 $grid;
    cursor: pointer;

    @include respond-to(medium) {
      padding: 0 $grid-desktop calc($grid * 2.5);
    }

    &.opened {
      padding-bottom: 0;

      .title {
        @include respond-to(medium) {
          position: absolute;
          bottom: -27px;
          left: $grid-desktop;
          margin-top: 0;
        }
      }
    }

    .wrapper {
      padding: $grid-mobile 0;
      border-top: 1px solid $color-black;

      @include respond-to(medium) {
        padding: 0;
        border-top: none;
      }
    }

    .title {
      @include respond-to(medium) {
        margin-top: 11px;
      }
    }

    .line {
      display: none;

      @include respond-to(medium) {
        display: flex;
        margin: 0 calc($grid / -2);
      }

      .cell {
        @include respond-to(medium) {
          width: 25%;
          padding: 0 calc($grid / 2);
        }

        &:nth-child(5n - 4) {
          @include respond-to(medium) {
            width: 12.5%;
          }
        }

        &:nth-child(5n - 3) {
          @include respond-to(medium) {
            width: 12.5%;
          }
        }
      }

      .border {
        width: 100%;
        height: 1px;
        background-color: $color-black;
      }
    }
  }

  .body {
    display: none;

    &.opened {
      display: block;
    }
  }
}
